
bokeh==0.13.0
certifi==2018.04.16
Django==2.0.8
django-debug-toolbar==1.8
django-pyodbc-azure==2.0.4.1
django-session-security==2.6.0
gunicorn==19.7.1 <-- Not used
Jinja2==2.10 <-- Not used
MarkupSafe==1.0 <-- Not used
numpy==1.14.4
pandas==0.23.0
psycopg2==2.7.4 <-- Not used
py-dateutil==2.2 <-- Not used
pyodbc==4.0.23
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12 <-- Not used
requests==2.14.2
scipy==1.0.0 <-- Not used
six==1.11.0
SQLAlchemy==1.2.8
sqlparse==0.2.3 <-- Not used
tornado==4.5.3
wincertstore==0.2 <-- Not used
